# Question 3
a)

In [3]:
import numpy as np
import pandas as pd

In [4]:
df1718 = pd.read_sas('DEMO_2017-2018.XPT', format = 'xport')
df1516 = pd.read_sas('DEMO_2015-2016.XPT', format = 'xport')
df1314 = pd.read_sas('DEMO_2013-2014.XPT', format = 'xport')
df1112 = pd.read_sas('DEMO_2011-2012.XPT', format = 'xport')
interest = ["SEQN", "RIDAGEYR", "RIDRETH3", "DMDEDUC2", "DMDMARTL", "RIDSTATR", "SDMVPSU", "SDMVSTRA", "WTMEC2YR", "WTINT2YR"]
z = []
y4 = df1718[interest]
m, n = y4.shape[0],y4.shape[1]
y4.insert(n,"YEAROFDATA",["17-18"for i in range(m)])
z.append(y4)
y3 = df1516[interest]
m, n = y3.shape[0],y3.shape[1]
y3.insert(n,"YEAROFDATA",["15-16"for i in range(m)])
z.append(y3)
y2 = df1314[interest]
m, n = y2.shape[0],y2.shape[1]
y2.insert(n,"YEAROFDATA",["13-14"for i in range(m)])
z.append(y2)
y1 = df1112[interest]
m, n = y1.shape[0],y1.shape[1]
y1.insert(n,"YEAROFDATA",["11-12"for i in range(m)])
z.append(y1)
res = pd.concat(z, axis = 0, ignore_index = True)
res.columns = [x.lower() for x in interest]+["yearofdata"]
res = pd.DataFrame.convert_dtypes(res)
print(res)

        seqn  ridageyr  ridreth3  dmdeduc2  dmdmartl  ridstatr  sdmvpsu  \
0      93703       2.0         6      <NA>      <NA>         2        2
1      93704       2.0         3      <NA>      <NA>         2        1
2      93705      66.0         4         2         3         2        2
3      93706      18.0         6      <NA>      <NA>         2        2
4      93707      13.0         7      <NA>      <NA>         2        1
...      ...       ...       ...       ...       ...       ...      ...
39151  71912      40.0         3         1         1         2        1
39152  71913      18.0         6      <NA>      <NA>         2        1
39153  71914      10.0         3      <NA>      <NA>         2        2
39154  71915      60.0         3         5         5         2        3
39155  71916      16.0         3      <NA>      <NA>         2        1

       sdmvstra      wtmec2yr      wtint2yr yearofdata
0           145   8539.731348   9246.491865      17-18
1           143   42566.61475  37338.768343      17-18
2           145   8338.419786   8614.571172      17-18
3           134   8723.439814   8548.632619      17-18
4           138    7064.60973   6769.344567      17-18
...         ...           ...           ...        ...
39151        98  20770.138122  19633.637051      11-12
39152        94   8028.485773   7382.152016      11-12
39153        94  63931.531988  60197.256541      11-12
39154        90  91446.591982  88961.259215      11-12
39155        94  24751.360191  24446.632088      11-12

[39156 rows x 11 columns]

b)the round-trip part ( to make sure it doesn't miss any information.)

In [5]:
pd.DataFrame.to_pickle(res, "nhane.pkl")
pd.DataFrame.to_feather(res, "nhane.feather")
res_pi = pd.read_pickle("nhane.pkl")
print(res_pi)
res_f = pd.read_feather("nhane.feather")
print(res_f)

        seqn  ridageyr  ridreth3  dmdeduc2  dmdmartl  ridstatr  sdmvpsu  \
0      93703       2.0         6      <NA>      <NA>         2        2
1      93704       2.0         3      <NA>      <NA>         2        1
2      93705      66.0         4         2         3         2        2
3      93706      18.0         6      <NA>      <NA>         2        2
4      93707      13.0         7      <NA>      <NA>         2        1
...      ...       ...       ...       ...       ...       ...      ...
39151  71912      40.0         3         1         1         2        1
39152  71913      18.0         6      <NA>      <NA>         2        1
39153  71914      10.0         3      <NA>      <NA>         2        2
39154  71915      60.0         3         5         5         2        3
39155  71916      16.0         3      <NA>      <NA>         2        1

       sdmvstra      wtmec2yr      wtint2yr yearofdata
0           145   8539.731348   9246.491865      17-18
1           143   42566.61475  37338.768343      17-18
2           145   8338.419786   8614.571172      17-18
3           134   8723.439814   8548.632619      17-18
4           138    7064.60973   6769.344567      17-18
...         ...           ...           ...        ...
39151        98  20770.138122  19633.637051      11-12
39152        94   8028.485773   7382.152016      11-12
39153        94  63931.531988  60197.256541      11-12
39154        90  91446.591982  88961.259215      11-12
39155        94  24751.360191  24446.632088      11-12

[39156 rows x 11 columns]
        seqn  ridageyr  ridreth3  dmdeduc2  dmdmartl  ridstatr  sdmvpsu  \
0      93703       2.0         6      <NA>      <NA>         2        2
1      93704       2.0         3      <NA>      <NA>         2        1
2      93705      66.0         4         2         3         2        2
3      93706      18.0         6      <NA>      <NA>         2        2
4      93707      13.0         7      <NA>      <NA>         2        1
...      ...       ...       ...       ...       ...       ...      ...
39151  71912      40.0         3         1         1         2        1
39152  71913      18.0         6      <NA>      <NA>         2        1
39153  71914      10.0         3      <NA>      <NA>         2        2
39154  71915      60.0         3         5         5         2        3
39155  71916      16.0         3      <NA>      <NA>         2        1

       sdmvstra      wtmec2yr      wtint2yr yearofdata
0           145   8539.731348   9246.491865      17-18
1           143   42566.61475  37338.768343      17-18
2           145   8338.419786   8614.571172      17-18
3           134   8723.439814   8548.632619      17-18
4           138    7064.60973   6769.344567      17-18
...         ...           ...           ...        ...
39151        98  20770.138122  19633.637051      11-12
39152        94   8028.485773   7382.152016      11-12
39153        94  63931.531988  60197.256541      11-12
39154        90  91446.591982  88961.259215      11-12
39155        94  24751.360191  24446.632088      11-12

[39156 rows x 11 columns]

We can see the data after round-trip format is the same.

In [6]:
dff1718 = pd.read_sas('OHXDEN_2017-2018.XPT', format = 'xport')
dff1516 = pd.read_sas('OHXDEN_2015-2016.XPT', format = 'xport')
dff1314 = pd.read_sas('OHXDEN_2013-2014.XPT', format = 'xport')
dff1112 = pd.read_sas('OHXDEN_2011-2012.XPT', format = 'xport')
total = dff1718.columns
interest1 = ['SEQN', 'OHDDESTS'] + [x for x in total if (x[0:3] == "OHX" and (x[5:7] == "TC" or x[5:8] == "CTC")) ]
for x in interest1:
    if x not in dff1516.columns:
        interest1.remove(x)
for x in interest1:
    if x not in dff1314.columns:
        interest1.remove(x)
for x in interest1:
    if x not in dff1112.columns:
        interest1.remove(x)
z1 = []
y8 = dff1718[interest1]
m, n = y8.shape[0],y8.shape[1]
y8.insert(n,"YEAROFDATA",["17-18"for i in range(m)])
z1.append(y8)
y7 = dff1516[interest1]
m, n = y7.shape[0],y7.shape[1]
y7.insert(n,"YEAROFDATA",["15-16"for i in range(m)])
z1.append(y7)
y6 = dff1314[interest1]
m, n = y6.shape[0],y6.shape[1]
y6.insert(n,"YEAROFDATA",["13-14"for i in range(m)])
z1.append(y6)
y5 = dff1112[interest1]
m, n = y5.shape[0],y5.shape[1]
y5.insert(n,"YEAROFDATA",["11-12"for i in range(m)])
z1.append(y5)
res1 = pd.concat(z1, axis = 0, ignore_index = True)
res1.columns = [x.lower() for x in interest1]+["yearofdata"]
res1 = pd.DataFrame.convert_dtypes(res1)
print(res1)
print(res1['seqn'])

D:\anaconda\lib\site-packages\pandas\io\sas\sas_xport.py:475: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[x] = v

        seqn  ohddests  ohx01tc  ohx02tc  ohx03tc  ohx04tc  ohx05tc  ohx06tc  \
0      93703         1        4        4        4        1        1        1
1      93704         1        4        4        4        1        1        1
2      93705         1        4        2        4        2        2        2
3      93706         1        4        2        2        2        2        2
4      93707         1        4        4        2        1        1        1
...      ...       ...      ...      ...      ...      ...      ...      ...
35904  71912         1        4        2        2        2        2        2
35905  71913         1        2        2        2        2        2        2
35906  71914         1        4        4        2        1        1        1
35907  71915         1        2        2        2        2        2        2
35908  71916         1        4        2        2        2        2        2

       ohx07tc  ohx08tc  ...  ohx23ctc  ohx24ctc  ohx25ctc  ohx26ctc  \
0            1        1  ...      b'D'      b'D'      b'D'      b'D'
1            1        1  ...      b'D'      b'D'      b'D'      b'D'
2            2        2  ...      b'S'      b'S'      b'S'      b'S'
3            2        2  ...      b'S'      b'S'      b'S'      b'S'
4            2        2  ...      b'S'      b'S'      b'S'      b'S'
...        ...      ...  ...       ...       ...       ...       ...
35904        2        2  ...      b'S'      b'S'      b'S'      b'S'
35905        2        2  ...      b'S'      b'S'      b'S'      b'S'
35906        2        2  ...      b'Y'      b'S'      b'S'      b'S'
35907        2        2  ...      b'S'      b'S'      b'S'      b'S'
35908        2        2  ...      b'S'      b'S'      b'S'      b'S'

       ohx27ctc  ohx28ctc  ohx29ctc  ohx30ctc  ohx31ctc  yearofdata
0          b'D'      b'D'      b'D'      b'U'      b'U'       17-18
1          b'D'      b'D'      b'D'      b'U'      b'U'       17-18
2          b'S'      b'F'      b'F'      b'R'      b'F'       17-18
3          b'S'      b'S'      b'S'      b'S'      b'S'       17-18
4          b'S'      b'D'      b'S'      b'S'      b'S'       17-18
...         ...       ...       ...       ...       ...         ...
35904      b'S'      b'S'      b'S'      b'Z'      b'S'       11-12
35905      b'S'      b'S'      b'S'      b'S'      b'S'       11-12
35906      b'Y'      b'D'      b'D'      b'S'      b'U'       11-12
35907      b'S'      b'S'      b'S'      b'Z'      b'Z'       11-12
35908      b'S'      b'S'      b'S'      b'Z'      b'U'       11-12

[35909 rows x 63 columns]
0        93703
1        93704
2        93705
3        93706
4        93707
         ...
35904    71912
35905    71913
35906    71914
35907    71915
35908    71916
Name: seqn, Length: 35909, dtype: Int64

In [7]:
pd.DataFrame.to_pickle(res1, "OH.pkl")
pd.DataFrame.to_feather(res1, "OH.feather")
res1_pi = pd.read_pickle("OH.pkl")
print(res1_pi)
res1_f = pd.read_feather("OH.feather")
print(res1_f)

        seqn  ohddests  ohx01tc  ohx02tc  ohx03tc  ohx04tc  ohx05tc  ohx06tc  \
0      93703         1        4        4        4        1        1        1
1      93704         1        4        4        4        1        1        1
2      93705         1        4        2        4        2        2        2
3      93706         1        4        2        2        2        2        2
4      93707         1        4        4        2        1        1        1
...      ...       ...      ...      ...      ...      ...      ...      ...
35904  71912         1        4        2        2        2        2        2
35905  71913         1        2        2        2        2        2        2
35906  71914         1        4        4        2        1        1        1
35907  71915         1        2        2        2        2        2        2
35908  71916         1        4        2        2        2        2        2

       ohx07tc  ohx08tc  ...  ohx23ctc  ohx24ctc  ohx25ctc  ohx26ctc  \
0            1        1  ...      b'D'      b'D'      b'D'      b'D'
1            1        1  ...      b'D'      b'D'      b'D'      b'D'
2            2        2  ...      b'S'      b'S'      b'S'      b'S'
3            2        2  ...      b'S'      b'S'      b'S'      b'S'
4            2        2  ...      b'S'      b'S'      b'S'      b'S'
...        ...      ...  ...       ...       ...       ...       ...
35904        2        2  ...      b'S'      b'S'      b'S'      b'S'
35905        2        2  ...      b'S'      b'S'      b'S'      b'S'
35906        2        2  ...      b'Y'      b'S'      b'S'      b'S'
35907        2        2  ...      b'S'      b'S'      b'S'      b'S'
35908        2        2  ...      b'S'      b'S'      b'S'      b'S'

       ohx27ctc  ohx28ctc  ohx29ctc  ohx30ctc  ohx31ctc  yearofdata
0          b'D'      b'D'      b'D'      b'U'      b'U'       17-18
1          b'D'      b'D'      b'D'      b'U'      b'U'       17-18
2          b'S'      b'F'      b'F'      b'R'      b'F'       17-18
3          b'S'      b'S'      b'S'      b'S'      b'S'       17-18
4          b'S'      b'D'      b'S'      b'S'      b'S'       17-18
...         ...       ...       ...       ...       ...         ...
35904      b'S'      b'S'      b'S'      b'Z'      b'S'       11-12
35905      b'S'      b'S'      b'S'      b'S'      b'S'       11-12
35906      b'Y'      b'D'      b'D'      b'S'      b'U'       11-12
35907      b'S'      b'S'      b'S'      b'Z'      b'Z'       11-12
35908      b'S'      b'S'      b'S'      b'Z'      b'U'       11-12

[35909 rows x 63 columns]
        seqn  ohddests  ohx01tc  ohx02tc  ohx03tc  ohx04tc  ohx05tc  ohx06tc  \
0      93703         1        4        4        4        1        1        1
1      93704         1        4        4        4        1        1        1
2      93705         1        4        2        4        2        2        2
3      93706         1        4        2        2        2        2        2
4      93707         1        4        4        2        1        1        1
...      ...       ...      ...      ...      ...      ...      ...      ...
35904  71912         1        4        2        2        2        2        2
35905  71913         1        2        2        2        2        2        2
35906  71914         1        4        4        2        1        1        1
35907  71915         1        2        2        2        2        2        2
35908  71916         1        4        2        2        2        2        2

       ohx07tc  ohx08tc  ...  ohx23ctc  ohx24ctc  ohx25ctc  ohx26ctc  \
0            1        1  ...      b'D'      b'D'      b'D'      b'D'
1            1        1  ...      b'D'      b'D'      b'D'      b'D'
2            2        2  ...      b'S'      b'S'      b'S'      b'S'
3            2        2  ...      b'S'      b'S'      b'S'      b'S'
4            2        2  ...      b'S'      b'S'      b'S'      b'S'
...        ...      ...  ...       ...       ...       ...       ...
35904        2        2  ...      b'S'      b'S'      b'S'      b'S'
35905        2        2  ...      b'S'      b'S'      b'S'      b'S'
35906        2        2  ...      b'Y'      b'S'      b'S'      b'S'
35907        2        2  ...      b'S'      b'S'      b'S'      b'S'
35908        2        2  ...      b'S'      b'S'      b'S'      b'S'

       ohx27ctc  ohx28ctc  ohx29ctc  ohx30ctc  ohx31ctc  yearofdata
0          b'D'      b'D'      b'D'      b'U'      b'U'       17-18
1          b'D'      b'D'      b'D'      b'U'      b'U'       17-18
2          b'S'      b'F'      b'F'      b'R'      b'F'       17-18
3          b'S'      b'S'      b'S'      b'S'      b'S'       17-18
4          b'S'      b'D'      b'S'      b'S'      b'S'       17-18
...         ...       ...       ...       ...       ...         ...
35904      b'S'      b'S'      b'S'      b'Z'      b'S'       11-12
35905      b'S'      b'S'      b'S'      b'S'      b'S'       11-12
35906      b'Y'      b'D'      b'D'      b'S'      b'U'       11-12
35907      b'S'      b'S'      b'S'      b'Z'      b'Z'       11-12
35908      b'S'      b'S'      b'S'      b'Z'      b'U'       11-12

[35909 rows x 63 columns]